@font-face {
    font-family: "fleurdeleah";
    src: url("../fonts/Fleur_De_Leah/FleurDeLeah-Regular.ttf");
}

.texteSpecial {
    font-family: "fleurdeleah", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}